
<p>
    <mat-toolbar class="toolbar " >
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button> -->
        <span class="name-tag">KanBan Pro</span>
        <span class="example-spacer"></span>
        <div class="register flex flex-row justify-between align-center">
            <button mat-icon-button class="example-icon favorite-icon mr-10">
                Login
            </button>
            <button mat-icon-button class="example-icon" >
                Sign Up
            </button>

        </div>
    </mat-toolbar>
</p>